.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}


.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}


.r-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

  
/* Media query for screens 600px and smaller */
@media only screen and (max-width: 600px) {
    .navIcons{
        justify-content: space-evenly;
        width: 100%;
        position: fixed;
        margin: 0;
        background-color: rgb(139, 194, 231);
        padding: 5px;
        align-self: center;
    }
    .r-button{
        display: none;
    }

    }
    
    /* Media query for screens 900px and smaller */
    @media only screen and (max-width: 1000px) {
        .navIcons{
            justify-content: space-evenly;
            width: 100%;
            position: fixed;
            margin: 0;
            background-color: rgb(139, 194, 231);
            padding: 5px;
            align-self: center;
        }
        .r-button{
            display: none;
        }
    
    
    }
    
    /* Media query for screens 1200px and smaller */
    @media only screen and (min-width: 1000px) and (max-width: 1200px) {
        .navIcons{
            justify-content: space-around;
        }
        
    }